# Segmentação de sinais

In [6]:
import pandas as pd
import numpy as np
import mne

In [10]:
infos_path = '/mnt/c/Users/davi.nascimento/Documents/github/doutorado_ppgee_v2/data/siena_infos.json'

infos = pd.read_json(infos_path)

infos

,name,registration_start,registration_end,seizure_start,seizure_end,total,seizure_start_sec,seizure_end_sec,total_seizure
0,PN00-1.edf,19.39.33,20.22.58,19.58.36,19.59.46,2605,1392,1462,70
1,PN00-2.edf,02.18.17,02.56.19,02.38.37,02.39.31,2282,1008,1062,54
2,PN00-3.edf,18.15.44,18.57.13,18.28.29,18.29.29,2489,1664,1724,60
3,PN00-4.edf,20.51.43,21.26.25,21.08.29,21.09.43,2082,1002,1076,74
4,PN00-5.edf,22.22.04,22.57.27,22.37.08,22.38.15,2123,1152,1219,67

import numpy