In [3]:
import pandas as pd
import os

PATH = os.path.abspath('../../')

In [5]:
df = pd.read_csv(
    filepath_or_buffer = PATH + '/docs/ref_train.txt',
    names = ['file','start','end','type','count'])

df

,file,start,end,type,count
0,001402_s003_t001.t 0.0000 1264.0000 bckg 1.0000,NaN,NaN,NaN,NaN
1,001479_s001_t001.t 0.0000 950.0040 bckg 1.0000,NaN,NaN,NaN,NaN
2,001479_s001_t001.t 950.0040 1047.0178 seiz 1.0000,NaN,NaN,NaN,NaN
3,001479_s001_t001.t 1047.0178 1199.0000 bckg 1....,NaN,NaN,NaN,NaN
4,001413_s001_t000.t 0.0000 315.3400 bckg 1.0000,NaN,NaN,NaN,NaN
...,...,...,...,...,...
9348,00002380_s005_t004 315.5241 1061.0000 bckg 1.0000,NaN,NaN,NaN,NaN
9349,00002380_s002_t005 0.0000 70.0000 bckg 1.0000,NaN,NaN,NaN,NaN
9350,00002380_s002_t003 0.0000 121.0000 bckg 1.0000,NaN,NaN,NaN,NaN
9351,00002380_s002_t001 0.0000 260.0000 bckg 1.0000,NaN,NaN,NaN,NaN
9352,00002380_s002_t006 0.0000 54.0000 bckg 1.0000,NaN,NaN,NaN,NaN

In [39]:

dfs = []
for i in df['file'].unique():
    file = i
    index = df.index[df['file']==file].to_list()
    dict_ = df.iloc[index, 1:].to_dict('records')
    dfs.append({"file":file,"data":dict_})

In [43]:
import json

with open('file_infos.json','w',encoding='utf-8') as f:
    f.write(json.dumps(dfs, ensure_ascii=False))